@import '../../../../assets/styles/player-cards.scss';

.container {
  display: flex;
  flex-direction: column;
  height:100%;
  overflow: scroll;
  @include playercard;
  
  .player:hover {
    background-color: #98002e;
    color: #f9a01b;
  }
}
