<div class="container">
  <div class="filter-and-add-icon">
    <mat-form-field class="example-form-field">
      <mat-label>Search by name</mat-label>
      <input matInput type="text" [(ngModel)]="value" (ngModelChange)="onChange()" autocomplete="off" />
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <fa-icon
      [matTooltip]="textToAdd"
      [matTooltipClass]="'tooltip-inner'"
      matTooltipPosition="above"
      [icon]="faPlus"
      (click)="openModal()"
    ></fa-icon>
  </div>
  <div class="player" *ngFor="let player of roster; let idx = index">
    <div class="player-info">
      <div class="img">
        <img src="{{ player.imageUrl }}" />
      </div>
      <div class="player-detail">
        <span>#{{ player.playerDatas.yerseyNumber }} {{ player?.playerDatas?.playerName }} {{ player.playerDatas.position }}</span>
      </div>
    </div>
    <div class="tables">
      <div class="table-datas">
        <table>
          <thead>
            <tr>
              <th>Age</th>
              <th>Height</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ player.playerDatas.age }}</td>
              <td>{{ player.playerDatas.height }}</td>
              <td>{{ player.playerDatas.weight }}lbs</td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
      <div class="table-stats">
        <table>
          <thead>
            <tr>
              <th id="title" colspan="6">Stats (Per Game)</th>
            </tr>
            <tr>
              <th>Season</th>
              <th>Points</th>
              <th>Rebounds</th>
              <th>Assists</th>
              <th>Steals</th>
              <th>Blocks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>2018/2019</th>
              <td>
                {{ player.playerStats.twoThousendNineTeen.pointsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendNineTeen.reboundsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendNineTeen.assistsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendNineTeen.stealsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendNineTeen.blocksPerGame }}
              </td>
            </tr>
            <tr>
              <th>2019/2020</th>
              <td>
                {{ player.playerStats.twoThousendTwenty.pointsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendTwenty.reboundsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendTwenty.assistsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendTwenty.stealsPerGame }}
              </td>
              <td>
                {{ player.playerStats.twoThousendTwenty.blocksPerGame }}
              </td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
    <div class="edit-delete">
      <div class="edit-player">
        <fa-icon
          [matTooltip]="textToEdit"
          [matTooltipClass]="'tooltip-inner'"
          matTooltipPosition="above"
          [icon]="faEdit"
          (click)="openEditModal(idx)"
        ></fa-icon>
      </div>
      <div class="delete-player">
        <fa-icon
          [icon]="faTrashAlt"
          [matTooltipClass]="'tooltip-inner'"
          matTooltipPosition="above"
          [matTooltip]="textToDelete"
          (click)="openDeleteModal(idx)"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
