@import './src/assets/styles/teams.scss';
.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(23, 64, 139);
  &.close {
    width:160px!important;
    height: 100%;
    min-width:160px;
    .team-container{
      padding:10px!important;
      height: 80px!important;
      img{
        height: 100px;
        width: 100px;
      }
    }
  }
  .Nba-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 225px;
    img {
      width: 80%;
      height: 80%;
      cursor: pointer;
    }
  }
  .Team-selector {
    display: flex;
    flex-direction: column;
    height:100%;
    img {
      width: 50%;
    }#Bucks,#Heat,#Bulls,#Celtics,#Raptors {
      @include teams;
    }
  }
}
