<div class="Nba-logo">
  <img src="./assets/pictures/Nba-logo.png" />
</div>
<div class="Team-selector">
  <div id="Bucks">
    <fa-icon [icon]="faCaretRight"></fa-icon>
    <a routerLink="/bucks"><button>Milwaukee Bucks</button></a>
  </div>
  <div id="Heat">
    <fa-icon [icon]="faCaretRight"></fa-icon>
    <a routerLink="/heat"><button>Miami Heat</button></a>
  </div>
  <div id="Lakers">
    <fa-icon [icon]="faCaretRight"></fa-icon>
    <a routerLink="/lakers"><button>Los Angeles Lakers</button></a>
  </div>
  <div id="Mavericks">
    <fa-icon [icon]="faCaretRight"></fa-icon>
    <a routerLink="/mavericks"><button>Dallas Mavericks</button></a>
  </div>
  <div id="Raptors">
    <fa-icon [icon]="faCaretRight"></fa-icon>
    <a routerLink="/raptors"><button>Toronto Raptors</button></a>
  </div>
</div>
