.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto 5fr;
  grid-template-rows: auto 5fr auto;
  grid-template-areas: 
  "navbar header"
  "navbar content"
  "navbar footer";
  .navbar {
    // display: flex;
    grid-area:navbar;
  }
  .header {
    display: flex;
    grid-area: header;
    height: 125px;
    max-height: 125px;
    app-header{
      width:100%;
    }
  }
  .content {
    display: flex;
    height: 100%;
    grid-area: content;
    overflow-y: scroll;
    background-color:rgb(207, 207, 207);
    .pages {
      width:100%;
    }
  }
}
.footer {
  display: flex;
  grid-area: footer;
  app-footer {
    width:100%;
  }
}
